# java: turn off transitive deps (for now)
build --experimental_strict_java_deps=off
test --experimental_strict_java_deps=off

# java: use repo-defined corretto for all builds/tests
# TODO(dastbe): get this working with platforms?
build --javabase=//buildconfig/java:jdk
build --host_javabase=//buildconfig/java:jdk
test --javabase=//buildconfig/java:jdk
test --host_javabase=//buildconfig/java:jdk
build --java_toolchain=//buildconfig/java:java11_toolchain
build --host_java_toolchain=//buildconfig/java:java11_toolchain
test --java_toolchain=//buildconfig/java:java11_toolchain
test --host_java_toolchain=//buildconfig/java:java11_toolchain

# TODO(dastbe): error prone doesn't work with the version of java in use?
build --javacopt="-XepDisableAllChecks"
test --javacopt="-XepDisableAllChecks"
